<h1>Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>
<label>title</label>
<%= f.text_field :title %>
<label>body</label>
<%= f.text_area :body %>
<%= f. submit "Upadate Book" %>
<% end %>
